body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    /* color: darkgreen; */
    /* color: hsl(216, 100%, 50%); */
    color: rgb(0, 100, 255);
}

/* Contrast Checker -> 11.17 Very Good */

p {
    /* color: rgba(0, 0, 0, 0.5); */
    /* color: #000000; black*/
    /* color: #FFFFFF; white */
    /* color: #00FF00; verde, como el rgb*/
    /* color: #0f0; verde, pero resumido*/
    color: #333;
}